/* === Basic Setup === */
body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #f4f7f6; /* Light gray background */
}

/* === Main App Content Wrapper === */
/* This adds the padding below the new 65px fixed navbar */
.app-content {
  padding: 2rem;
  padding-top: calc(65px + 2rem); /* 65px Navbar + 2rem padding */
  box-sizing: border-box;
}